<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="service.wait_time" type="slider" label="Seconds between refresh" option="int" range="10,5,60" default="30" />
    <!-- <setting type="action" label="Force refresh" action="RunPlugin('plugin://plugin.program.autowidget/?mode=force')" /> -->
</settings>

