<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="service.wait_time" type="labelenum" label="Seconds between refresh" values="10|30|60|120|1440" default="30" />
    <!-- <setting type="action" label="Force refresh" action="RunPlugin('plugin://plugin.program.autowidget/?mode=force')" /> -->
</settings>

