<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="$ADDON[plugin.program.autowidget 32000]">
        <!-- General -->
        <setting label="$ADDON[plugin.program.autowidget 32056]" type="lsep" />
        <setting label="$ADDON[plugin.program.autowidget 32004]" type="bool" id="context.autowidget" default="true" />
        <setting label="$ADDON[plugin.program.autowidget 32057]" type="bool" id="context.advanced" default="false" />
        <setting type="bool" id="context.warning" default="false" visible="false" />
        <setting type="bool" id="label.warning" default="false" visible="false" />
    
        <!-- Path Service -->
        <setting label="$ADDON[plugin.program.autowidget 32001]" type="lsep" />
        <setting label="$ADDON[plugin.program.autowidget 32041]" type="enum" id="service.refresh_enabled" default="0" lvalues="32085|32086|32087" />
        <setting label="$ADDON[plugin.program.autowidget 32005]" type="slider" id="service.refresh_duration" default="2" range="0.25,0.25,12" option="float" visible="lt(-1,2)" />
        <setting label="$ADDON[plugin.program.autowidget 32042]" type="enum" id="service.refresh_notification" default="1" lvalues="32085|32086|32087" visible="lt(-2,2)" />
    </category>
    
    <category label="Tools">
        <!-- Shortcuts -->
        <setting label="$ADDON[plugin.program.autowidget 32002]" type="lsep" />
        <setting label="$ADDON[plugin.program.autowidget 32006]" type="action" action="RunPlugin(plugin://plugin.program.autowidget/?mode=force)" option="close" />
        <setting label="$ADDON[plugin.program.autowidget 32064]" type="action" action="RunPlugin(plugin://plugin.program.autowidget/?mode=wipe)" option="close" />
        
        <!-- Backup/Restore -->
        <setting label="$ADDON[plugin.program.autowidget 32090]" type="lsep" />
        <setting label="$ADDON[plugin.program.autowidget 32091]" type="action" id="backup.location" action="RunPlugin(plugin://plugin.program.autowidget/?mode=backup&action=location)" default="special://userdata/addon_data/plugin.program.autowidget/backups/" />
        <setting label="$ADDON[plugin.program.autowidget 32092]" type="action" action="RunPlugin(plugin://plugin.program.autowidget/?mode=backup&action=backup)" option="close" />
        <setting label="$ADDON[plugin.program.autowidget 32093]" type="action" action="RunPlugin(plugin://plugin.program.autowidget/?mode=backup&action=restore)" option="close" />
    </category>
</settings>

