<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <!-- Widgets -->
        <setting label="Widgets" type="lsep" />
        <setting label="Hours to refresh widgets" type="slider" id="service.refresh_duration" default="2" range="0.5,0.5,12" option="float" />
        <setting label="How many widgets to refresh" type="slider" id="service.refresh_quantity" default="4" range="1,1,16" option="int" />
        
        <!-- Shortcuts -->
        <setting label="Shortcuts" type="lsep" />
        <setting label="Force Refresh Widgets" type="action" action="RunPlugin(plugin://plugin.program.autowidget/?mode=force)" option="close" />
        <setting label="Clean Old References" type="action" action="RunPlugin(plugin://plugin.program.autowidget/?mode=clean)" option="close" />
    </category>
</settings>

